{% extends 'base.html' %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

<h1>Book Collections</h1>

<table id="customers">
  <tr>
    <th>Name</th>
    <th>Writer</th>
    <th>Img</th>
    <th>Published Date</th>
    <th>Type</th>
    <th>Actions</th>
  </tr>
  {% for i in books %}
  <tr>
    <td>{{i.name}}</td>
    <td>{{i.writter}}</td>
    <td>
        <img height="200px" width="150px" src="/{{i.img}}">
    </td>
    <td>{{i.published_date}}</td>
    <td>{{i.type}}</td>
    <td>
        <a href="{% url 'deletepage' i.id %}" class="btn btn-danger btn-sm mr-2">Delete</a>
        <a href="{% url 'book' i.id %}" class="btn btn-info btn-sm mr-2">View</a>
        <a href="{% url 'editpage' i.id %}" class="btn btn-warning btn-sm">Edit</a>
    </td>
  </tr>
  {% endfor %}
</table>
</body>
</html>

{% endblock body %}
